*,:after,:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:0!important;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;font-smoothing:antialiased}
body{color:#666;font-size:14px;line-height:1.5;font-family:'Microsoft Yahei',"PingFang SC","Helvetica Neue",Helvetica,Arial,sans-serif;min-width:1200px}
img{max-width:100%;border:none}
input,select,textarea{font-size:14px;color:#333;font-family:'Microsoft Yahei',"PingFang SC","Helvetica Neue",Helvetica,Arial,sans-serif;border:none}
input [type=submit],input[type=button],input[type=checkbox],input[type=radio],input[type=reset],select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
::-webkit-input-placeholder{color:#999}
::-moz-placeholder{color:#999}
::-ms-input-placeholder{color:#999}
select::-ms-expand{display:none}
a{color:#333;text-decoration:none}
a:hover{color:#ff4b59}
ul{list-style:none}
.fix{*zoom:1}
.fix:after,.fix:before{display:block;content:"";height:0;clear:both}
table{border-spacing:0}
.c{clear:both}
.col-l{float:left}
.col-r{float:right}
em{font-style:normal}
.wp{margin:0 auto;width:1200px}
.header{height:90px}
.logo{float:left;line-height:90px}
.logo img{display:inline-block;vertical-align:middle}
.hdr{float:right;margin-top:35px}
.nav{overflow:hidden;height:60px;background:url(../images/nav-bg.jpg) center center no-repeat}
.nav li{float:left;width:11.11%;background:url(../images/nav-li.png) left center no-repeat}
.nav li:first-child{background:0 0}
.nav a{display:block;font-size:16px;line-height:60px;color:#fff;text-align:center}
.nav a:hover{text-decoration:underline}
.hdr li{float:left;position:relative}
.hdr li::after{content:'';position:absolute;left:0;top:50%;margin-top:-6px;width:1px;height:12px;background-color:#ddd}
.hdr li:first-child::after{display:none}
.hdr a{padding:0 16px;font-size:13px;color:#666}
.hdr a:hover{color:#398ac7}
.hdr a i{display:inline-block;margin-top:2px;width:18px;height:18px;background:url(../images/so.png) center no-repeat}
.so{display:none;position:absolute;top:30px;left:15px}
.so .inp{border:1px solid #6e6e6e;padding:0 5px}
.m-lang{width:87px}
.m-lang dt{position:relative;cursor:pointer;padding-left:16px}
.m-lang dt i{position:absolute;top:50%;margin-top:-3px;right:0;width:8px;height:5px;background:url(../images/q-down2.png) center no-repeat}
.m-lang dt img{vertical-align:middle}
.m-lang dd{display:none;position:absolute;top:30px;left:0;right:0;background-color:#398ac7;z-index:2}
.m-lang dd a{display:block;line-height:30px;text-align:center;color:#fff;border-top:1px dashed #fff}
.m-lang dd a:first-child{border-top:0}
.m-lang dd a:hover{color:#fff}
.footer{padding:13px 0 0;height:344px;background:url(../images/footer-bg.jpg) center no-repeat}
.fd-left{float:left}
.fd-right{float:right;width:206px}
.fd-nv{overflow:hidden;float:left;margin-right:26px}
.fd-nv li{float:left;margin-right:35px}
.fd-nv li.last{padding-left:16px}
.fd-nv a{font-weight:700;display:block;font-size:16px;line-height:48px;width:161px;color:#fff;background:url(../images/q-arrow.png) right center no-repeat;border-bottom:1px dashed #0048ff}
.fd-nv a:hover{border-bottom:1px dashed #fff}
.fd-net{float:left}
.fd-net h4,.fd-right h4{margin:11px 0 20px;font-size:16px;color:#fff}
.m-select{position:relative}
.m-select dt{width:301px;height:40px;line-height:38px;background-color:#f0f9ff;border:1px solid #00278c;font-size:12px;color:#333;padding:0 20px;cursor:pointer;position:relative}
.m-select dt i{position:absolute;top:50%;margin-top:-5px;right:20px;width:18px;height:10px;background:url(../images/q-down.png) center no-repeat}
.m-select dd{border:1px solid #00278c;border-top:0;position:absolute;left:0;right:0;display:none}
.m-select dd a{font-size:12px;display:block;height:32px;line-height:30px;padding:0 20px;color:#333;background-color:#f0f9ff;border-top:1px dashed #00278c}
.m-select dd a:first-child{border-top:0}
.fd-right ul{margin-left:-20px}
.fd-right li{float:left;width:93px;margin-left:20px;margin-bottom:19px}
.fd-right .pic{width:93px;height:93px;line-height:93px;text-align:center;background-color:#fff}
.fd-right .pic img{display:inline-block;vertical-align:middle}
.fd-right p{font-size:12px;color:#fff;text-align:center;margin-top:5px}
.copyright{margin-top:58px}
.copyright,.copyright a{font-size:14px;color:#fff}
.copyright span{margin-left:65px}
.copyright a:hover{text-decoration:underline}
.h390{height:390px}
.ban{height:705px;background-repeat:no-repeat;background-position:center}
.main{background-color:#fff;box-shadow:0 3px 5px rgba(0,0,0,.1);overflow:hidden;margin:-335px 0 55px;position:relative;min-height:500px}
.col-main{width:900px;padding:42px 40px 0}
.col-slide{position:absolute;top:0;bottom:0;right:0;width:260px;margin-right:40px;border-left:1px solid #ddd}
.col-slide ul{border-top:1px solid #ddd}
.col-slide li{border-bottom:1px solid #ddd}
.col-slide li a{display:block;font-size:16px;line-height:50px;color:#666;padding-left:40px}
.col-slide li a:hover{color:#398ac7}
.col-slide li.on a{background-color:#398ac7;color:#fff}
.g-tit2{font-weight:400;font-size:24px;line-height:1.1;color:#000;padding:32px 0 21px 41px;position:relative}
.g-tit2::after{content:'';position:absolute;left:0;top:33px;width:3px;height:45px;background-color:#555}
.g-tit2 em{display:block;font-family:Arial;font-size:18px;color:#999;margin-bottom:3px}
.g-tit1{overflow:hidden;border-bottom:1px solid #ddd;margin-bottom:20px}
.g-tit1 h3{font-size:24px;line-height:46px;color:#000;margin-bottom:12px}
.g-tit1 ul{float:right}
.g-tit1 ul li{float:left;position:relative}
.g-tit1 ul li:after{content:'';position:absolute;left:0;top:50%;margin-top:-7px;width:1px;height:14px;background-color:#ddd}
.g-tit1 ul li:first-child:after{width:0}
.g-tit1 li a{display:block;font-size:14px;color:#666;padding:0 20px;line-height:58px;position:relative}
.g-tit1 li a:after{content:'';position:absolute;left:0;right:0;bottom:0;background-color:#398ac7}
.g-tit1 li.last a{padding-right:0}
.g-tit1 li a:hover,.g-tit1 li.on a{color:#398ac7}
.g-tit1 li.on a:after{height:2px}
.ul-qj1{overflow:hidden;margin:0 -10px}
.ul-qj1 li{float:left;width:33.33%;margin-bottom:32px}
.ul-qj1 .inner{display:block;margin:0 10px}
.ul-qj1 .pic{width:260px;height:196px;border:5px solid #f5f5f5}
.ul-qj1 .pic img{display:block;width:100%;height:100%}
.ul-qj1 p{text-align:center;margin-top:10px}
.ul-qj1 .inner:hover .pic{border:5px solid #398ac7}
.ul-qj1 .inner:hover p{color:#398ac7}
.ul-float{position:fixed;bottom:30%;right:50%;margin-right:-675px;z-index:999}
.ul-float li{margin-bottom:1px;position:relative}
.ul-float a{display:block;width:40px;height:40px;background-color:#2689e7;background-repeat:no-repeat;background-position:center}
.ul-float a.weixin{background-image:url(../images/weixin.png)}
.ul-float a.weibo{background-image:url(../images/weibo.png)}
.ul-float a.tel{background-image:url(../images/tel.png)}
.ul-float a.toTop{background-image:url(../images/toTop.png)}
.ul-float li:hover a{background-color:#002fa7}
.ul-float .box{display:none;position:absolute;top:0;left:40px;box-shadow:1px 4px 6px #eee}
.ul-float .box .img{width:150px;height:150px}
.ul-float .box .img img{display:block;width:100%;height:100%}
.toTop{visibility:hidden;opacity:0;filter:alpha(opacity=0)}
.toTop.show{visibility:visible;opacity:1;filter:alpha(opacity=100)}
.ul-float li:hover .box{display:block}
.h62{height:62px;clear:both}
.y-list1{overflow:hidden;margin:20px 0 43px -29px;width:820px}
.y-list1 li{float:left;width:33.33%;margin-bottom:20px}
.y-list1 .con{display:block;margin-left:29px;height:304px;border:1px solid #ddd}
.y-list1 .pic{text-align:center;height:100%;font-size:0;position:relative}
.y-list1 .pic:after{display:inline-block;vertical-align:middle;width:0;content:'';height:100%}
.y-list1 img{display:inline-block;vertical-align:middle;max-height:98%}
.y-list1 .con:hover .y-mask{display:block}
.y-mask{position:absolute;display:none;top:0;left:0;width:100%;height:100%;background:url(../images/i-bg.png) left top no-repeat;color:#fff;font-size:0;line-height:28px;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s}
.y-mask:after{display:inline-block;vertical-align:middle;width:0;content:'';height:100%}
.y-mask p{display:inline-block;vertical-align:middle;font-size:16px}
.y-text{width:820px}
.y-text .l-span{line-height:1em;margin:28px 0 27px}
.y-text .date{font-size:14px;color:#999;display:inline-block;margin-right:5px}
.y-text .y-lab{font-size:14px;color:#3a8ac7;display:inline-block}
.y-text .txt{font-size:14px;color:#666;line-height:24px;padding-bottom:20px}
.y-text .txt p{margin:26px 0 20px}
.y-text img{display:block;margin-bottom:20px}
.pn{position:relative;padding:24px 0 81px;border-top:1px solid #ddd}
.pn-next,.pn-prev{display:block;line-height:24px;font-size:14px;color:#666}
.fx-box{position:absolute;right:0;top:22px}
.fx-box .jiathis_style_32x32 a{display:inline-block;width:16px;margin:0 2px}
.fx-box .jiathis_style_32x32 .jtico{height:16px!important;background:no-repeat;padding-left:16px!important}
.fx-box .jiathis_style_32x32 .jiathis_txt{line-height:16px!important;font-size:14px!important;float:none}
.fx-box .jiathis_style_32x32 .jiathis_button_weixin{background-image:url(../images/i-wx.jpg)!important}
.fx-box .jiathis_style_32x32 .jiathis_button_douban{background-image:url(../images/i-db.jpg)!important}
.fx-box .jiathis_style_32x32 .jiathis_button_renren{background-image:url(../images/i-rr.jpg)!important}
.fx-box .jiathis_style_32x32 .jiathis_button_tsina{background-image:url(../images/i-wb.jpg)!important}
.fx-box .jiathis_style_32x32 .jiathis_button_tqq{background-image:url(../images/i-qwb.jpg)!important}
.fx-box .jiathis_style_32x32 .jiathis_button_qzone{background-image:url(../images/i-wy.jpg)!important}
.fx-box .jiathis_style_32x32 .jtico_jiathis{background-image:url(../images/i-plus.jpg)!important;margin:0 6px 0 0!important;display:inline-block!important}
.fx-box .jiathis_counter_style{width:37px!important;margin:0!important}
.fx-box .jiathis_style_32x32 .jiathis_counter.jiathis_bubble_style{width:37px!important;height:18px!important;text-align:center;color:#333;background:#efefef;border:1px solid #999;line-height:17px!important;position:relative;display:block}
.fx-box .jiathis_style_32x32 .jiathis_counter.jiathis_bubble_style:after{position:absolute;content:"";top:30%;left:-3px;width:4px;height:6px;background:url(../images/i-j.jpg) no-repeat}
.h55{height:55px;clear:both}
.y-list2{margin-bottom:34px;margin-top:-20px}
.y-list2 .con{padding:20px 0;border-bottom:1px solid #eee;cursor:pointer}
.y-list2 .date{float:right;margin-top:22px;width:100px;height:100px;font-size:24px;line-height:33px;text-align:center;padding-top:15px;color:#ddd;border:4px solid #eee}
.y-list2 .con:hover .date{color:#3a8ac7;border:4px solid #3a8ac7}
.y-list2 .con:hover h5 a{color:#0154a3}
.y-list2 .date span{display:block}
.y-list2 .desc{overflow:hidden;width:644px}
.y-list2 .pic{float:left;display:block;width:260px;height:165px;margin-right:20px;overflow:hidden}
.y-list2 img{display:block;width:100%;height:100%;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s}
.y-list2 .pic:hover img{-webkit-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);transform:scale(1.08)}
.y-list2 .txt{overflow:hidden;padding-top:19px;line-height:24px;font-size:14px}
.y-list2 h5 a{font-size:18px;font-weight:400;display:block;color:#333;line-height:1em;margin-bottom:25px;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis}
.y-list2 p{display:-webkit-box;overflow:hidden;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.h65{height:66px;clear:both}
.y-list3{overflow:hidden;margin-left:-42px;width:820px;margin-bottom:42px;margin-top:21px}
.y-list3 li{float:left;width:33.33%;margin-bottom:26px}
.y-list3 .con{margin-left:42px;overflow:hidden}
.y-list3 .pic{display:block;width:245px;height:175px;overflow:hidden;margin-bottom:6px}
.y-list3 .pic:hover img{-webkit-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);transform:scale(1.08)}
.y-list3 img{display:block;width:100%;height:100%;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s}
.y-list3 h5 a{display:block;font-size:14px;color:#666;font-weight:400;line-height:27px;text-align:center}
.y-list3 h5 a:hover{color:#0154a3}
.y-info{position:relative;background-position:left top;height:410px;width:820px}
.y-info .txt{position:absolute;right:0;top:0;width:575px;background:rgba(0,0,0,.4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);color:#fff;line-height:24px;padding:28px 37px 30px 33px}
.y-info .txt2{padding:28px 37px 74px 33px}
.m-honor{margin-top:38px}
.y-tit{font-size:24px;color:#000;line-height:1em}
.m-honor table{width:820px;overflow:hidden;margin-top:20px;border:1px solid #ddd;border-bottom:none}
.m-honor table .td1{width:240px;background-color:#f5f5f5}
.m-honor table td{overflow:hidden;border-bottom:1px solid #ddd}
.m-honor table .td2{text-align:left;border-left:1px solid #ddd}
.m-honor table .date{display:block;font-size:20px;color:#666;background:url(../images/i-jb.png) 20px 50% no-repeat;padding-left:84px;min-height:77px;line-height:77px}
.m-honor table .date2{margin-top:-125px}
.m-honor table .info{padding:0 20px}
.m-honor table .info2{padding:12px 20px 0}
.m-honor table a{color:#999;display:block;font-size:20px;line-height:32px}
.m-honor table a:hover{color:#015fb7}
.y-list4{overflow:hidden;margin:26px 0 46px -22px}
.y-list4 li{float:left;width:33.33%}
.y-list4 .pic{display:block;border:1px solid #dedede;padding:1px;height:102px;margin-left:22px}
.y-list4 img{display:block}
.h100{height:101px;clear:both}
.y-form{margin:38px 0 45px}
.y-form form{margin-top:35px}
.y-form input{display:block;height:42px;border:1px solid #e6e6e6;line-height:40px;background-image:url(../images/y-d.jpg);background-position:16px 50%;background-repeat:no-repeat;padding:0 16px 0 33px;margin-bottom:20px;font-size:14px;color:#999}
.y-form .row-ipt input{width:100%}
.y-form .row-ipt2,.y-form .row-ipt3{overflow:hidden}
.y-form .row-ipt2 input{width:48.5%}
.y-form .row-ipt2 .ipt1{float:left}
.y-form .row-ipt2 .ipt2{float:right}
.y-form textarea{display:block;width:100%;height:135px;border:1px solid #e6e6e6;background:url(../images/y-d.jpg) 16px 19px no-repeat;padding:11px 31px 0;line-height:22px;resize:none;margin-bottom:20px;color:#999}
.row-ipt3 input{width:182px;float:left}
.row-ipt3 img{display:block;float:left;width:140px;height:40px;margin:0 15px}
.row-ipt3 .ipt-sub{float:left;background:#015fb7;color:#fff;width:125px;text-align:center;line-height:40px;padding:0;cursor:pointer}
.row-ipt3 .ipt-sub:hover{opacity:.8}
.plac .m-zz{margin:-7px 0 64px}
.m-zz img{display:block}
.m-list{padding-bottom:5px}
.y-list5{overflow:hidden;margin:0 0 43px -5px}
.y-list5 li{float:left;width:33.33%;margin-bottom:5px}
.y-list5 .con{margin-left:5px}
.y-list5 .pic{float:left;display:block;width:132px;height:132px;overflow:hidden;margin-right:5px;background-color:#ced6bf}
.y-list5 img{display:block;width:100%;height:100%}
.y-list5 .txt{overflow:hidden;width:132px;height:132px;background-color:#f5f5f5;padding:22px 14px 0;line-height:25px;font-size:14px;color:#666}
.y-list5 .txt a{font-size:20px;color:#000;display:block;line-height:1em;margin-bottom:10px}
.m-kh{padding:40px 40px 0}
.y-list6{overflow:hidden;margin:20px 0 44px -24px}
.y-list6 li{float:left;width:20%;margin-bottom:21px}
.y-list6 .con{display:block;margin-left:24px;text-align:center}
.y-list6 .pic{border:5px solid #eee;margin-bottom:7px;height:155px;overflow:hidden}
.y-list6 img{display:inline-block;vertical-align:middle;max-height:95%;max-width:95%}
.y-list6 h5{font-weight:400;color:#666;font-size:14px;line-height:28px}
.y-list6 .con:hover .pic{border:5px solid #3a8ac7}
.y-list6 .con:hover h5{color:#3a8ac7}
.y-list7{margin-bottom:35px;margin-top:-20px}
.y-list7 .con{overflow:hidden;padding:20px 0;border-bottom:1px solid #ddd}
.y-list7 .pic{display:block;float:left;width:200px;height:150px;margin-right:31px;overflow:hidden}
.y-list7 img{display:block;width:100%;height:100%;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s}
.y-list7 .pic:hover img{-webkit-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);transform:scale(1.08)}
.y-list7 .txt{overflow:hidden;font-size:12px;color:#666;line-height:24px;padding-top:12px}
.y-list7 h5 a{font-size:16px;color:#000;font-weight:400;line-height:1em;margin-bottom:14px;display:block}
.y-list7 h5 a:hover{color:#0154a3}
.pages{text-align:center}
.pages a{display:inline-block;padding:0 10px;height:26px;background-color:#ddd;font-size:12px;color:#666;line-height:26px;margin:0 .5px;border-radius:2px}
.a-first,.a-last,.a-next{padding:0 10px!important}
.pages a.on,.pages a:hover{background-color:#0154a3;color:#e9edf4}
.h60{height:58px;clear:both}
.m-tit-yz{font-size:24px;color:#000;line-height:50px;height:61px;padding-bottom:8px;border-bottom:1px solid #ddd}
.m-shangshang{padding:40px 40px 0}
.y-tab{margin-bottom:40px}
.ul-tab{overflow:hidden;border-bottom:1px solid #eee;margin-top:30px}
.ul-tab li{float:left;width:25%;text-align:center;cursor:pointer;line-height:1em;font-size:16px;color:#666;padding-bottom:30px}
.ul-tab h5{font-weight:400;line-height:1em;font-size:16px}
.ul-tab em{display:block;margin:0 auto 17px;width:70px;height:70px;background-position:left top;background-repeat:no-repeat;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s}
.ul-tab li.on,.ul-tab li:hover{color:#398ac7;border-bottom:2px solid #3a8ac7}
.ul-tab li.on .em1,.ul-tab li:hover .em1{background-image:url(../images/i-tab1o.png)!important}
.ul-tab li.on .em2,.ul-tab li:hover .em2{background-image:url(../images/i-tab2o.png)!important}
.ul-tab li.on .em3,.ul-tab li:hover .em3{background-image:url(../images/i-tab3o.png)!important}
.ul-tab li.on .em4,.ul-tab li:hover .em4{background-image:url(../images/i-tab4o.png)!important}
.ul-con{padding:32px 0 45px;border-bottom:1px solid #eee;font-size:14px;color:#666;line-height:24px}
.ul-con h5{font-size:18px;color:#000;line-height:1em;margin-bottom:21px}
.y-ad{margin-top:31px;height:254px}
.y-ad img{display:block;width:655px;height:100%}
.y-ad .txt{width:465px;height:100%;float:right;background-color:#0154a3;color:#fff;line-height:24px;padding:45px 42px 0}
.y-ad h4{font-size:36px;color:#fff;line-height:1em;margin-bottom:25px}
.y-ad p{padding-left:30px;background:url(../images/y-dot.png) 7px 50% no-repeat}
.y-fa{font-size:14px;line-height:24px;color:#666;margin-bottom:70px}
.y-fa h5{color:#000;font-size:18px;line-height:1em;margin-bottom:23px}
.h25{height:21px;clear:both}
.y-fa .video{position:relative;height:335px;width:620px;float:left;background:#000}
.y-fa .video .bg{position:absolute;z-index:5;top:0;left:0;width:100%;height:335px;background:url(../images/v-bg.png) left top no-repeat}
.y-fa .video .bg.on,.y-fa .video .mask.on{display:none}
.y-fa .video .mask{position:absolute;z-index:5;top:0;left:0;width:100%;height:335px;cursor:pointer;background:url(../images/i-play.png) center center no-repeat}
.y-fa .video video{width:100%;height:100%}
.y-list8{float:right;width:500px;overflow:hidden;border-top:1px solid #eee}
.y-list8 li{float:left;width:50%;text-align:center;height:167px;border:1px solid #eee;padding-top:32px;border-left:none;border-top:none}
.y-list8 em{display:block;width:70px;height:70px;border-radius:3px;background-position:left top;margin:0 auto 17px;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s}
.y-list8 h5{font-size:16px;color:#666;font-weight:400;line-height:1em;margin-bottom:0}
.y-list8 li:hover .em1{background-image:url(../images/yi1o.png)!important}
.y-list8 li:hover .em2{background-image:url(../images/yi2o.png)!important}
.y-list8 li:hover .em3{background-image:url(../images/yi3o.png)!important}
.y-list8 li:hover .em4{background-image:url(../images/yi4o.png)!important}
.y-list8 li:hover h5{color:#398ac7}
.g-tit1 h1{font-size:24px;color:#000;line-height:46px;height:58px;padding-bottom:8px}
.t-info{padding:43px 38px;position:relative;top:185px;width:757px;height:185px;line-height:28px;font-size:16px;color:#fff;background:url(../images/t-bg1.png)}
.t-info h2{font-size:24px;margin-bottom:10px}
.t-info p{overflow:hidden;height:56px}
.m-strategy-t{padding:47px 40px 30px;background-color:#fff;box-shadow:0 5px 10px rgba(0,0,0,.1)}
.m-strategy-t .tit{margin-bottom:20px;font-size:24px;color:#000;font-weight:700;border-bottom:1px solid #ddd;padding-bottom:17px}
.ul-tab-t{height:135px;margin-bottom:30px;border-bottom:1px solid #eee}
.ul-tab-t li{float:left;width:20%}
.ul-tab-t a{position:relative;display:block;background-repeat:no-repeat;background-position:center top;padding-top:85px;text-align:center;font-size:16px;color:#666;padding-bottom:28px}
.ul-tab-t .on a:after{content:"";display:inline-block;position:absolute;bottom:2px;left:0;right:0;height:2px;background-color:#3a8ac7}
.ul-tab-t .on a,.ul-tab-t a:hover{color:#398ac7}
.m-text-t{width:100%;height:446px;background-repeat:no-repeat;background-position:center center;-webkit-background-size:100% 100%;background-size:100% 100%}
.ul-tab-t a.a1{background-image:url(../images/t-ico1.jpg)}
.ul-tab-t a.a2{background-image:url(../images/t-ico2.jpg)}
.ul-tab-t a.a3{background-image:url(../images/t-ico3.jpg)}
.ul-tab-t a.a4{background-image:url(../images/t-ico4.jpg)}
.ul-tab-t a.a5{background-image:url(../images/t-ico5.jpg)}
.ul-tab-t .on a.a1{background-image:url(../images/t-ico01.jpg)}
.ul-tab-t .on a.a2{background-image:url(../images/t-ico02.jpg)}
.ul-tab-t .on a.a3{background-image:url(../images/t-ico03.jpg)}
.ul-tab-t .on a.a4{background-image:url(../images/t-ico04.jpg)}
.ul-tab-t .on a.a5{background-image:url(../images/t-ico05.jpg)}
.m-text-t .txt-t{padding:68px 50px;color:#fff;width:648px;height:250px;font-size:14px;line-height:24px;background:url(../images/t-bg2.png)}
.m-text-t .txt-t h3{font-size:24px;margin-bottom:20px}
.t-box{margin-bottom:65px;padding:47px 40px 40px;box-shadow:0 5px 10px rgba(0,0,0,.1)}
.m-info-t{overflow:hidden;margin-bottom:25px;font-size:14px;color:#666;line-height:26px}
.m-info-t h2.tit{font-size:24px;color:#000;line-height:1.5;padding-bottom:17px;margin-bottom:33px;border-bottom:1px solid #ddd}
.m-info-t .l{float:left;padding-left:26px}
.m-info-t .r{float:right;padding-left:62px;border-left:1px solid #ddd}
.m-info-t .l,.m-info-t .r{padding-top:45px;width:50%;height:367px;padding-right:30px}
.m-info-t h3{font-weight:400;color:#015cb1;font-size:18px}
.m-info-t p span{color:#015cb1}
.m-hold-t h2{font-size:24px;color:#000;margin-bottom:21px}
.m-hold-t ul{overflow:hidden;border:1px solid #ddd}
.m-hold-t li{float:left;border-right:1px solid #b3d4e5;width:186px;background:url(../images/t-xing.png) 20px 211px no-repeat}
.m-hold-t li.li1{border-right:none;width:188px}
.m-hold-t .tit{height:195px;padding-top:29px;background-color:#c7e8fa;text-align:center;color:#0154a3;margin-bottom:5px}
.m-hold-t .tit i{display:block;text-align:center;margin-bottom:10px}
.m-hold-t .tit i img{display:inline-block}
.m-hold-t li a{display:block;padding-left:44px;line-height:48px;font-size:14px;color:#999;margin-left:19px;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
.m-hold-t li a:hover{color:#0154a3}
.m-chair .top{overflow:hidden;background-color:#f5f5f5}
.m-chair .top .pic{float:left;width:470px}
.m-chair .top .pic img{display:block;width:470px;height:351px}
.m-chair .top .txt{overflow:hidden;padding-left:39px;line-height:30px;font-size:14px;color:#666}
.m-chair .top h3{margin:59px 0 15px;font-weight:400;font-size:24px;color:#000}
.m-chair .con{margin:30px 0 116px;line-height:24px;font-size:14px;color:#666}
.m-chair .con img{margin-top:9px}
.t-txt2{padding-top:137px;width:1015px;text-align:center;font-size:24px;color:#fff;text-shadow:0 0 6px #333}
.t-txt2 h3{font-size:48px;margin-bottom:5px}
.t-txt2 p{position:relative;display:inline-block}
.t-txt2 p:after,.t-txt2 p:before{content:'';position:absolute;top:50%;margin-top:-4px;height:7px;width:113px;background:url(../images/t-bg3.png) center center no-repeat}
.t-txt2 p:before{left:-131px}
.t-txt2 p:after{right:-131px}
.t-list1{padding:71px 0 1px;margin:34px 0 50px;position:relative}
.t-list1:after{content:'';position:absolute;top:0;bottom:0;left:50%;width:4px;margin-left:-2px;border-radius:3px;background-color:#ddd}
.t-list1 li{height:19px;width:100%;margin-bottom:113px;position:relative}
.t-list1 i{z-index:2;position:absolute;top:0;left:50%;margin-left:-9px;width:19px;height:19px;background:url(../images/t-ico8.png) center no-repeat}
.t-list1 .con{position:absolute;top:50%;width:360px;padding:21px 20px 18px;border-radius:4px;background-color:#f5f5f5}
.t-list1 .l1 .con{left:0}
.t-list1 .l2 .con{right:0}
.t-list1 .con:after{content:'';position:absolute;top:50%;margin-top:-6px;width:6px;height:11px;background-position:center;background-repeat:no-repeat}
.t-list1 .l1 .con:after{right:-6px;background-image:url(../images/t-ico6.png)}
.t-list1 .l2 .con:after{left:-6px;background-image:url(../images/t-ico7.png)}
.t-list1 .con h3{margin-bottom:7px;font-weight:400;font-size:24px;color:#0154a3}
.t-list1 .con p{padding-left:18px;line-height:24px;font-size:14px;color:#666;background:url(../images/t-ico9.png) 1px 9px no-repeat}
.t-list1 .con p span{color:#000}
.t-txt1{padding-top:84px;margin-left:40px;width:800px;font-weight:700;font-size:16px;color:#fff;text-shadow:0 0 6px #044c9a}
.t-txt1 h3{font-size:60px;margin-bottom:6px}
.t-txt1 p{line-height:27px}
.m-detail-t{padding:8px 0 64px;text-align:justify;line-height:24px;font-size:14px;color:#666}
.m-detail-t .tit{font-size:18px;color:#000}
.m-deve .box1{position:relative;margin-top:39px;padding-bottom:84px;overflow:hidden}
.m-deve .box1:after{content:'';position:absolute;top:12px;bottom:33px;left:490px;width:2px;background-color:#f6f6f6}
.m-deve .box1 .left{padding-right:50px;float:left;width:490px}
.m-deve .box1 .txt{margin-top:44px;line-height:24px;font-size:14px;color:#666}
.m-deve .box1 .txt h3{font-weight:400;margin-bottom:10px;font-size:18px;color:#333}
.m-deve .box1 .right{float:right;width:328px;padding-left:30px}
.m-deve .box1 .right .pic img,.m-deve .pic2 img{display:block;margin:0 auto}
.t-list2{margin-top:30px}
.t-list2 li{overflow:hidden;margin-bottom:20px;background-color:#f5f5f5}
.t-list2 .l1 .pic{float:left}
.t-list2 .l2 .pic{float:right}
.t-list2 .pic img{display:block}
.t-list2 .desc{width:411px;padding:38px 25px 0 33px}
.t-list2 .l1 .desc{float:right}
.t-list2 .l2 .desc{float:left}
.t-list2 .desc h3{position:relative;padding-bottom:15px;margin-bottom:24px;font-weight:400;font-size:24px;color:#000}
.t-list2 .desc h3:after{content:'';position:absolute;bottom:0;left:0;width:46px;height:3px;background-color:#398ac7}
.t-list2 .desc p{height:120px;overflow:hidden;line-height:24px;font-size:14px;color:#666}
.m-deve .box2{padding-bottom:105px;margin-top:67px;line-height:24px;font-size:14px;color:#666}
.m-deve .box2 .tit{margin-bottom:-5px;font-size:24px;color:#000}
.m-deve .box2 .tit2{margin:26px 0 22px;font-size:18px;color:#000}
.t-txt3{padding-top:53px;font-size:14px;color:#000}
.t-txt3 .t1{line-height:36px}
.t-txt3 .t2{font-size:24px;margin:4px 0 32px}
.t-txt3 i{margin-left:7px;margin-top:-3px;display:inline-block;position:relative;width:15px;cursor:pointer;height:15px;vertical-align:middle;background:url(../images/t-ico12.png) center center no-repeat}
.t-txt3 span{cursor:pointer;position:relative;display:inline-block;margin-left:24px;color:#999}
.t-txt3 span .pic{display:none;position:absolute;width:164px;height:164px;top:-66px;right:-180px;border:2px solid #5e92c8}
.t-txt3 span:hover i:after{content:"";display:block;position:absolute;right:-16px;top:1px;width:6px;height:12px;background:url(../images/t-ico13.png) center center no-repeat}
.t-txt3 span:hover .pic{display:inline-block}
.t-txt3 span .pic img{display:block}
.ul-tab-t2{overflow:hidden}
.ul-tab-t2 li{float:left;width:50%;text-align:center;height:60px;line-height:60px}
.ul-tab-t2 a{display:block;font-size:18px;color:#666;background-color:#ddd}
.ul-tab-t2 a:hover{color:#fff}
.ul-tab-t2 li.on a{color:#fff;background-color:#398ac7}
.t-list3{margin-bottom:20px;border:1px solid #eee;border-left:none}
.t-list3 li{float:left;width:25%}
.t-list3 .select{position:relative;border-left:1px solid #eee;line-height:58px;font-size:18px;color:#7d7d7d}
.t-list3 .select dt{position:relative;cursor:pointer;padding:0 28px}
.t-list3 .select dt i{position:absolute;top:30px;right:34px;width:12px;height:6px;background:url(../images/t-ico10.png) center center no-repeat}
.t-list3 .select dd{display:none;z-index:2;position:absolute;top:58px;left:-1px;right:-1px;border:1px solid #eee;border-top:none;background-color:#fff}
.t-list3 .select dd a{display:block;text-align:center;line-height:40px;font-size:16px;color:#7d7d7d;border-top:1px solid #eee}
.t-list3 .select dd a:hover{color:#398ac7}
.t-list3 .so-box{overflow:hidden;border-left:1px solid #eee}
.t-list3 .so-box .inp{float:left;width:167px;padding:0 11px;height:58px;line-height:58px;font-size:18px;color:#7d7d7d}
.t-list3 .so-box .inp::-webkit-input-placeholder{color:#7d7d7d}
.t-list3 .so-box .inp::-moz-placeholder{color:#7d7d7d}
.t-list3 .so-box .inp::-ms-input-placeholder{color:#7d7d7d}
.t-list3 .so-box .btn-so{float:left;width:20px;height:58px;margin-right:16px;background:url(../images/t-ico11.png) center center no-repeat}
.t-list4{margin-bottom:24px;border:1px solid #eee;border-top:none}
.t-list4 li{border-top:1px solid #eee}
.t-list4 .top{overflow:hidden;text-align:center}
.t-list4 .top p{float:left;line-height:70px;font-size:18px;color:#333}
.t-list4 .p1{text-align:left;padding-left:35px;width:240px}
.t-list4 .p2{text-align:left;width:129px}
.t-list4 .p3{width:108px}
.t-list4 .p4{width:183px}
.t-list4 .p5{width:123px}
.t-list4 .desc{cursor:pointer;overflow:hidden;text-align:center}
.t-list4 .desc p{float:left;line-height:60px;font-size:14px;color:#666}
.t-list4 .desc .p1{padding-left:40px}
.t-list4 .desc .p2{padding-left:5px}
.t-list4 .job{display:none}
.t-list4 .con{margin-top:6px}
.t-list4 .con .box{display:inline-block;padding:0 61px 0 34px}
.t-list4 .con .box p{line-height:24px}
.t-list4 .txt{margin-top:24px;padding:0 36px;line-height:24px;font-size:14px;color:#666}
.t-list4 .txt h3{color:#000;font-size:14px;font-weight:400}
.t-list4 .txt .p6{margin-top:24px}
.t-list4 .txt .yx{color:#398ac7;text-decoration:underline}
.t-list4 .txt .td{margin:29px 0 36px;display:block;text-align:center;width:220px;height:45px;line-height:45px;font-size:14px;color:#fff;background-color:#398ac7}
.t-list4 .txt .td:hover{opacity:.8}
.m-con-lb1{padding:40px}
.m-tit-lb1{font-size:24px;color:#000;line-height:52px;padding-bottom:8px;border-bottom:1px solid #ddd}
.m-artical-lb .con{font-size:14px;color:#666;line-height:24px;margin-top:28px}
.m-artical-lb .con h4{font-size:18px;color:#0154a3;font-weight:400;line-height:28px;margin-bottom:18px}
.m-artical-lb .con p{margin-bottom:24px}
.m-artical-lb .imgtxt{overflow:hidden;background-color:#dfe9f1;margin:28px 0 35px}
.m-artical-lb .imgtxt .img{float:left;width:572px;height:266px;overflow:hidden;margin-right:50px}
.m-artical-lb .imgtxt .img img{display:block;width:100%;height:100%}
.m-artical-lb .imgtxt .txt span{display:inline-block;font-size:24px;color:#000;line-height:46px;padding-right:82px;background:url(../images/ico-line1.jpg) right center no-repeat}
.m-artical-lb .imgtxt .txt h3{font-size:32px;color:#0154a3;line-height:48px}
.m-artical-lb .imgtxt .txt{margin-top:82px}
.ul-list-lb1 li{float:left;width:25%;position:relative}
.ul-list-lb1{margin:-8px -10px 26px;height:126px;background-color:#fff}
.ul-list-lb1 .items{display:block;margin:0 10px;padding:36px 20px 38px;border:1px solid #ddd;overflow:hidden}
.ul-list-lb1 .items .ico{float:left;width:46px;height:46px;margin-right:10px;background-repeat:no-repeat;background-position:center}
.ul-list-lb1 .items .txt{overflow:hidden;padding-left:10px;border-left:1px solid #ddd}
.ul-list-lb1 .items .txt h4{font-size:18px;color:#333;font-weight:400;line-height:1;margin-bottom:6px}
.ul-list-lb1 .items .txt p{font-size:12px;color:#999;line-height:1}
.ul-list-lb1 .items .ico1{background-image:url(../images/ico-lb1.png)}
.ul-list-lb1 .items .ico2{background-image:url(../images/ico-lb2.png)}
.ul-list-lb1 .items .ico3{background-image:url(../images/ico-lb3.png)}
.ul-list-lb1 .items .ico4{background-image:url(../images/ico-lb4.png)}
.ul-list-lb1 .items:hover .ico1,.ul-list-lb1 .on .items .ico1{background-image:url(../images/ico-lb1-1.png)}
.ul-list-lb1 .items:hover .ico2,.ul-list-lb1 .on .items .ico2{background-image:url(../images/ico-lb2-2.png)}
.ul-list-lb1 .items:hover .ico3,.ul-list-lb1 .on .items .ico3{background-image:url(../images/ico-lb3-3.png)}
.ul-list-lb1 .items:hover .ico4,.ul-list-lb1 .on .items .ico4{background-image:url(../images/ico-lb4-4.png)}
.ul-list-lb1 .items:hover,.ul-list-lb1 .on .items{background-color:#0154a3}
.ul-list-lb1 .items:hover .txt h4,.ul-list-lb1 .items:hover .txt p,.ul-list-lb1 .on .items .txt h4,.ul-list-lb1 .on .items .txt p{color:#fff}
.ul-list-lb1 li:hover .qr{display:block}
.ul-list-lb1 .qr{position:absolute;top:152px;left:0;z-index:99;margin:0 10px;width:264px;height:244px;background-color:#fff;border:1px solid #ddd;text-align:center;display:none}
.ul-list-lb1 .qr img{display:inline-block;margin-top:30px}
.ul-list-lb1 .qr p{font-size:18px;color:#000;line-height:38px}
.ul-list-lb1 .qr i{position:absolute;top:-20px;left:50%;border-top:10px solid transparent;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #ddd}
.m-img-lb1 img{display:block;width:100%}
.m-img-lb1{position:relative;margin-bottom:38px}
.m-img-lb1 .go{position:absolute;left:0;bottom:0;width:550px;height:190px;background:url(../images/bg-lb1.png) center;font-size:32px;color:#fff;font-weight:700;line-height:190px;padding-left:80px}
.m-img-lb1 .go span{display:inline-block;padding-right:134px;background:url(../images/ico-lb5.png) right center no-repeat;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.m-img-lb1 .go:hover span{padding-right:160px}
.ul-tab-lb1{overflow:hidden;border-top:1px solid #ddd;border-left:1px solid #ddd;margin-top:14px}
.ul-tab-lb1 li{float:left;width:25%}
.ul-tab-lb1 li a{display:block;font-size:18px;color:#666;line-height:68px;text-align:center;border-right:1px solid #ddd;border-bottom:1px solid #ddd}
.ul-tab-lb1 .on a,.ul-tab-lb1 li a:hover{background-color:#0154a3;color:#fff}
.m-tit-lb1.lb2{border:none}
.ul-list-lb2{margin-bottom:70px}
.ul-list-lb2 li{overflow:hidden;padding:20px 0;border-bottom:1px solid #ddd}
.ul-list-lb2 .img{float:left;width:200px;height:150px;overflow:hidden;margin-right:30px}
.ul-list-lb2 .img img{display:block;width:100%;height:100%}
.ul-list-lb2 .img a:hover img{opacity:.8;filter:alpha(opacity=80)}
.ul-list-lb2 .txt{overflow:hidden;font-size:12px;color:#666;line-height:24px;margin-top:8px}
.ul-list-lb2 .txt h4 a{font-size:16px;color:#000;display:block;line-height:26px;font-weight:400;margin-bottom:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.ul-list-lb2 .txt h4 a:hover{color:#398ac7}
.ul-list-lb2 .txt p{max-height:96px}
.ul-list-lb3{overflow:hidden;margin:42px -10px 0}
.ul-list-lb3 li{float:left;width:25%}
.ul-list-lb3 li .items{display:block;margin:0 10px 10px}
.ul-list-lb3 .items .img{display:block;position:relative;overflow:hidden;padding-top:67.925%}
.ul-list-lb3 .items .img img{position:absolute;left:0;top:0;width:100%;height:100%}
.ul-list-lb3 .items .img .ico{position:absolute;left:50%;top:50%;width:89px;height:89px;margin-left:-45px;margin-top:-45px;background:url(../images/ico-lb6.png) center no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.ul-list-lb3 .items .img:hover .ico{transform:scale(.9);-ms-transform:scale(.9);-moz-transform:scale(.9);-webkit-transform:scale(.9);-o-transform:scale(.9)}
.m-company-lb{margin:90px 0 45px}
.m-company-lb img{display:block;margin:0 auto}
.ul-list-lb4 li{overflow:hidden;padding:20px 0;border-bottom:1px solid #ddd}
.ul-list-lb4 li:last-child{border:none}
.ul-list-lb4 .img{float:left;width:405px;height:256px;overflow:hidden;margin-right:20px}
.ul-list-lb4 .img img{display:block;width:100%;height:100%;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.ul-list-lb4 .img a:hover img{opacity:.8;filter:alpha(opacity=80)}
.ul-list-lb4 .txt{overflow:hidden;font-size:14px;color:#666;line-height:24px;margin-top:10px}
.ul-list-lb4 .txt h4 a{font-size:18px;color:#000;line-height:28px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;font-weight:400;margin-bottom:20px}
.ul-list-lb4 .txt h4 a:hover{color:#398ac7}
.ul-list-lb4 .txt span{display:block;margin-bottom:20px}
.ul-list-lb4{margin-top:-20px;margin-bottom:43px}
.banner{height:495px;position:relative}
.banner .bg{position:absolute;left:0;bottom:0;width:100%;height:73px;background:url(../images/ban-bg.png) center no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;z-index:1}
.banner .items,.banner .slick-list,.banner .slick-track,.banner .slider{height:100%}
.banner .items{display:block;background-repeat:no-repeat;background-position:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.banner .slick-arrow{position:absolute;top:50%;width:36px;height:66px;margin-top:-33px;background-repeat:no-repeat;background-position:center;z-index:9;text-indent:-9999px;border:none;background-color:transparent;cursor:pointer;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.banner .slick-prev{left:0;background-image:url(../images/ban-prev.png)}
.banner .slick-next{right:0;background-image:url(../images/ban-next.png)}
.banner .slick-arrow:hover{opacity:.8;filter:alpha(opacity=80)}
.banner .slick-dots{text-align:center;bottom:43px;position:absolute;left:0;right:0;z-index:9}
.banner .slick-dots li{display:inline-block;margin:0 3px}
.banner .slick-dots li button{display:block;width:9px;height:9px;font-size:0;line-height:0;text-indent:999px;outline:0;border:none;background:url(../images/dot.png) center no-repeat;cursor:pointer}
.banner .slick-dots li.slick-active button{background-image:url(../images/dot-on.png)}
.snav{background-color:#c7e8fa;background-repeat:repeat-x;background-position:left bottom;background-image:url(../images/bg-lb4.png)}
.snav ul{overflow:hidden}
.snav li{float:left;width:12.5%;text-align:center}
.snav .items{background:url(../images/bg-lb3.png) top left repeat-y;display:block;padding:21px 0 18px;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.snav li:first-child .items{background:0 0}
.snav .ico{background-repeat:no-repeat;background-position:center;height:70px;display:block}
.snav .items p{font-size:16px;color:#3498db;line-height:31px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.snav .items .en{display:block;font-size:12px;color:#398ac7;font-family:Arial;line-height:1;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.snav .items:hover{opacity:.8;filter:alpha(opacity=80)}
.row-index1{overflow:hidden;background:url(../images/bg-lb5.png) center no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;margin:20px 0}
.row-index1 .items{float:left;width:50%;text-align:center;padding-top:40px;padding-bottom:57px}
.row-index1 .items .tit{padding-bottom:8px;position:relative;margin-bottom:10px}
.row-index1 .items .tit .ico{position:absolute;left:50%;bottom:0;width:46px;height:3px;background-color:#fff;margin-left:-23px}
.row-index1 .items .en{font-size:14px;color:#fff;font-family:arial;line-height:24px;display:block;margin-bottom:19px}
.row-index1 .items h4{font-size:24px;color:#fff;line-height:34px;font-weight:400;margin-bottom:17px}
.row-index1 .items p{font-size:14px;color:#fff;line-height:24px}
.main-index{background:url(../images/bg-index.png) center;overflow:hidden}
.row-index2{background-color:#fff;padding-bottom:30px}
.ul-tab-lb2{overflow:hidden}
.ul-tab-lb2 li{float:left;width:33.33%}
.ul-tab-lb2 .items{border-bottom:1px solid #eaeaea;padding:44px 0 19px 110px;overflow:hidden;display:block}
.ul-tab-lb2 .items .img{float:left;width:70px;height:70px;overflow:hidden;border-radius:5px;margin-right:20px}
.ul-tab-lb2 .items .img img{display:block;width:100%;height:100%;border-radius:5px}
.ul-tab-lb2 .txt{overflow:hidden;margin-top:10px}
.ul-tab-lb2 .txt h4{font-size:20px;color:#666;line-height:28px}
.ul-tab-lb2 .txt h4 em{font-weight:400;font-size:12px;color:#aaa;font-family:arial;display:block;line-height:22px}
.ul-tab-lb2 .items:hover,.ul-tab-lb2 .on .items{border-bottom-color:#398ac7}
.ul-tab-lb2 .items:hover .txt h4,.ul-tab-lb2 .items:hover .txt h4 em,.ul-tab-lb2 .on .items .txt h4,.ul-tab-lb2 .on .items .txt h4 em{color:#398ac7}
.ul-con-lb2{margin:40px 0 56px;overflow:hidden}
.ul-con-lb2 li{float:left;width:33.33%}
.ul-con-lb2 .items{padding:0 52px 0 30px;border-left:1px solid #ddd}
.ul-con-lb2 li:first-child .items{border-left:none}
.ul-con-lb2 .items h4 a{font-size:16px;color:#333;line-height:22px;margin-bottom:22px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:400}
.ul-con-lb2 .items h4 a:hover{color:#398ac7}
.ul-con-lb2 .items p{font-size:14px;color:#666;line-height:24px;height:72px;overflow:hidden;margin-bottom:33px}
.ul-con-lb2 .items .date{font-size:12px;color:#999;font-family:arial;line-height:22px;padding-left:25px;background:url(../images/l-date.png) left center no-repeat;display:block}
.g-more-lb{display:block;width:160px;height:45px;line-height:45px;font-size:16px;color:#fff;text-transform:uppercase;text-align:center;background-color:#398ac7;margin:0 auto;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.g-more-lb:hover{opacity:.8;filter:alpha(opacity=80);color:#fff}
.row-index3{margin:20px 0 12px}
.m-part-lb{position:relative;background-color:#fff;padding-left:186px;border:1px solid #ddd;margin-bottom:20px}
.m-part-lb .left{position:absolute;left:-1px;top:-1px;width:186px;bottom:0;background:url(../images/bg-lb6.png) center}
.m-part-lb .left .con{position:absolute;left:0;top:50%;width:100%;text-align:center;margin-top:-54px}
.m-part-lb .left .con .ico{height:54px;width:100%;background-repeat:no-repeat;background-position:top center}
.m-part-lb .left .con h4{font-size:20px;color:#fff;line-height:30px}
.m-part-lb .left .con h4 em{display:block;font-size:14px;color:#fff;font-family:arial;line-height:24px;font-weight:400}
.m-part-lb .right{padding:0 65px 0 70px}
.slick-lb1 .items{display:block;margin:0 8px}
.slick-lb1{margin:0 -8px}
.slick-lb1 .img{border:1px solid #ddd;padding:1px;background-color:#fff;width:204px;height:157px;overflow:hidden;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.slick-lb1 .img img{display:block;width:100%;height:100%}
.slick-lb1 .items p{text-align:center;font-size:14px;color:#666;line-height:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:7px 0 6px}
.slick-lb1 .items:hover p{color:#398ac7}
.slick-lb1 .items:hover .img{border-color:#398ac7}
.slick-lb1 .slider{padding-top:51px;padding-bottom:30px}
.slick-lb1 .slick-arrow{position:absolute;top:50%;width:67px;height:46px;margin-top:-23px;background-repeat:no-repeat;background-position:center;z-index:9;text-indent:-9999px;border:none;background-color:transparent;cursor:pointer;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.slick-lb1 .slick-prev{left:-62px;background-image:url(../images/lb-prev1.png)}
.slick-lb1 .slick-next{right:-62px;background-image:url(../images/lb-next1.png)}
.slick-lb1 .slick-prev:hover{background-image:url(../images/lb-prev2.png)}
.slick-lb1 .slick-next:hover{background-image:url(../images/lb-next2.png)}
.slick-lb1.other .img{height:155px;padding:0;border-width:5px}
.slick-lb1.other .items{margin:0 10px}
.slick-lb2 .slider{margin:0 -10px}
.slick-lb2 .slick-arrow{position:absolute;top:50%;width:67px;height:46px;margin-top:-23px;background-repeat:no-repeat;background-position:center;z-index:9;text-indent:-9999px;border:none;background-color:transparent;cursor:pointer;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.slick-lb2 .slick-prev{left:-62px;background-image:url(../images/lb-prev1.png)}
.slick-lb2 .slick-next{right:-62px;background-image:url(../images/lb-next1.png)}
.slick-lb2 .slick-prev:hover{background-image:url(../images/lb-prev2.png)}
.slick-lb2 .slick-next:hover{background-image:url(../images/lb-next2.png)}
.slick-lb2 .items{overflow:hidden;display:block;margin:0 10px 15px;padding:10px 20px 10px 10px;background-color:#f5f5f5}
.slick-lb2 .items .img{float:left;width:160px;height:120px;overflow:hidden;margin-right:20px;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.slick-lb2 .items .img img{display:block;width:100%;height:100%}
.slick-lb2 .items .txt{overflow:hidden;font-size:12px;color:#666;line-height:22px;margin-top:17px}
.slick-lb2 .items .txt h4{font-size:14px;color:#000;line-height:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-bottom:7px;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.slick-lb2 .items .txt p{height:66px;overflow:hidden}
.slick-lb2{margin:50px 0 30px}
.slick-lb2 .items:hover .txt h4{color:#398ac7}
.slick-lb2 .items:hover .img{opacity:.8;filter:alpha(opacity=80)}